import { ReactNode } from "react";

interface Props {
  children: ReactNode;
}

const {{ name }} = ({ children }: Props) => {
  return <div>TODO: implement {{ name }}. {children}</div>;
};

export default {{ name }};
